.App {
  width: 100vw;
  overflow: auto;
  background-color: white;
}


.top-navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100vw;
  overflow: hidden;
  background-color: white;
}

.nav-items {
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  color: #16161d;
  margin-right: 2em;
}

.logo {
  margin-left: 1vw;
}