/*
.App {
  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background-color: #16161d;
  display: grid;
  grid-template-rows: 0.30fr 0.10fr 0.60fr;
  grid-template-columns: 10% repeat(5, calc(100vw/5));
}

.users_1 {
  width: auto;
  height: auto;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.users_1 > * {
  width: 100%;
  height: 10vh;
  background-color: whitesmoke;
}

.utilisateurs {
  grid-row: 1;
  grid-column: 1;
  background-color: red;
}

.activités {
  grid-row: 2;
  grid-column: 1;
  background-color: blue;
}

.fonctionnalités {
  grid-row: 3;
  grid-column: 1;
  background-color: yellow;
}
*/


.App {
  width: 1fr;
  overflow: auto;
  background-color: white;
}


.top-nav {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  background-color: white;
  justify-content: flex-end;
}

.nav-items {
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  color: #16161d;
  margin-right: 2em;
}

.logo {
  text-decoration: none;
  color: #16161d;
  padding: 20px;
  margin-right: auto;
}

.logo img {
  float: left;
  margin-right: 1em;
}
.logo h2 {
  float: left;
}

.top-nav a:hover {
  color: darkgreen;
}

/* For responsiveness */
.top-nav .icon {
  display: none;
}
@media screen and (max-width: 650px) {
  .top-nav a:not(:last-child) {display: none;}
  .top-nav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}





.header-content {
  position :relative;
  width: 100%;
  height: 200px;
  margin-top: 300px;
  /*background-color: yellow;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0;
}

.header-content * {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.header-content-title {
  /*background-color: red;*/
  font-size: 60px;
}

.header-content-subtitle {
 /* background-color: blue;*/
  font-size: 20px;
}

.header-content-button {
  background-color: green;
  color: white;
  border-radius: 1.5em;
  border: 4px solid white;
  width: 200px;
  height: 40px;
  font-weight: bold;
  padding-top: 17px;
}

.header-content-button:hover {
  opacity: 0.70;
  transition-duration: 0.5s;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 95vh;
  /*background-color: blue;*/
}

.content {
  padding-top: 7.5vh;
  width: 100%;
  height: 95vh;
  background-color: lightgreen;
  margin-top: 95vh;
}

.footer {
  width: 100%;
  height: 95vh;
  background-color: seagreen;
  padding-top: 7.5vh;
}


.content-title {
  text-align: center;
  font-size: 40px;
}

.content-subtitle {
  text-align: center;
  font-size: 20px;
}

.content-content-grid {
  margin-top: 1vw;
}

.content-content-grid {
  display: flex;
  flex-direction: column;
}



.card {
  margin-top: 2vw;
  margin-right: auto;
  margin-left: auto;
}
.card * {
  float: left;
}

.void {
  background-color: grey;
  width: calc(150px + 2em);
  height: calc(150px + 2em);
}

.text-card {
  width: 50vw;
  height: 150px;
  background-color: lightgrey;
  padding: 1em 1em 1em 3em;
  display: flex;
  flex-direction: column;
}

.text-card-title {
  margin-top: 1em;
  font-size: 20px;
  font-weight: bolder;
}

.text-card-subtitle {
  font-size: 1em;
  font-weight: bold;
}

.text-card-content {
  margin-top: 1em;
  font-size: 1em;
}

.footer-title {
  text-align: center;
  font-size: 40px;
}

.footer-subtitle {
  text-align: center;
  font-size: 20px;
}