div::-webkit-scrollbar {
    display: none;
}

.Test {
    background-color: #16161d;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.grid {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid lightgrey;
    background-color: rgb(30, 30, 30);
    width: 900px;
    height: 900px;
    display: grid;
    box-shadow: 0 0 1px grey;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    grid-gap: 5px;
}

.super-grid-element {
    background-color: white;
}

.super-grid {
    top: -1px;
    left: -1px;
    background: transparent;
    position: absolute;
}

.grid-element {
    border: 1px solid #16161d;
    padding: 5px;
}

/* ------------------- */

.start-area-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid lightgrey;
    background-color: rgb(30, 30, 30);
    height: 900px;
    width: 300px;
    box-shadow: 0 0 5px grey;
    padding: 5px;
}

.start-area {
    border: 2px solid #16161d;
    width: 1fr;
    height: 90%;
    margin-bottom: 5px;
    padding: 5px;
}

.start-area-button {
    display: flex;
    background-color: rgb(40, 40, 40);
    border: 2px solid #16161d;
    width: 1fr;
    height: 10%;

}

.start-area-button:hover {
    opacity: 0.75;
    transition: all 0.2s ease;
}

.start-area-button:active {
    border: 2px ridge #16161d;
    transition: all 0.2s ease;
}

.start-area-button > p {
    text-shadow: 0 0 5px black;
    color: darkorange;
    margin: auto;
    font-size: 2em;
}

.rectangle {
    display: flex;
    width: 1fr;
    height: 25%;
    border: 2px solid black;
    background-color: rgb(40, 40, 40);
    margin-bottom: 5px;

}

.rectangle > p {
    color: darkorange;
    text-shadow: 0 0 5px black;
    font-size: 3em;
    margin: auto;
}
